@using EntityLayer.Concrete @*projeye bu dizini daahil ettik*@@*verileri listeleyebilmek için*@
@model List<Category>
 @*ilgili şeyin başına @ işareti eklemek - razor syntax*@
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Durum</th>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.CategoryID</td>
                    <td>@item.CategoryName</td>
                    <td>@item.CategoryStatus</td>
                </tr>
            }
</table>
<br />
<a href="/Category/AddCategory" class="btn btn-info">Yeni Kategori</a>